<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
  <form action="/indoorMapUploaded" enctype="multipart/form-data" method="post">
    <span>longitude-left-down-corner:</span><input type="text" class="input" name="longitudeLD"></br>
    <span>latitude-left-down-corner:</span><input type="text" class="input" name="latitudeLD"></br>
    <span>longitude-right-up-corner:</span><input type="text" class="input" name="longitudeRU"></br>
    <span>latitude-right-up-corner:</span><input type="text" class="input" name="latitudeRU"></br>
    <span>accuracy:</span><input type="text" class="input" name="accuracy"></br>
    <span>mapInfo:
    <input type="file" name="indoorMapUploaded">
    <input type="submit" name="submit" value="Upload file">
  </form>
</body>
</html>