<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
  <form action="/indoorMapUploaded" enctype="multipart/form-data" method="post">
    <span>longitude-left-down-corner:</span><input type="text" class="input" name="longitude-left-down-corner"></br>
    <span>longitude-right-up-corner:</span><input type="text" class="input" name="longitude-right-up-corner"></br>
    <span>latitude-left-down-corner:</span><input type="text" class="input" name="latitude-left-down-corner"></br>
    <span>latitude-right-up-corner:</span><input type="text" class="input" name="latitude-right-up-corner"></br>
    <span>accuracy:</span><input type="text" class="input" name="accuracy"></br>
    <input type="file" name="indoorMapUploaded" multiple="multiple">
    <input type="submit" value="Upload file" />
  </form>
</body>
</html>