<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
    <img src= <%= '/indoorMaps/'+indoorMapPng %> alt="Uploaded indoor Map" title="Uploaded indoor Map" width="100%">
</body>
</html>